<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>

        body {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            margin: auto;
            position: relative;
            width: 960px;
        }

        text {
            font: 10px sans-serif;
        }

        .axis path,
        .axis line {
            fill: none;
            stroke: #000;
            shape-rendering: crispEdges;
        }

        form {
            position: absolute;
            right: 10px;
            top: 10px;
        }

        .node {
            stroke: #fff;
            stroke-width: 1.5px;
        }

        .link {
            stroke: #999;
            stroke-opacity: .6;
        }

        path.slice{
            stroke-width:2px;
        }

        polyline{
            opacity: .3;
            stroke: black;
            stroke-width: 2px;
            fill: none;
        }

        #slider {
            float: left;
            clear: left;
            height: 300px;
            margin: 15px;
        }

    </style>
    <title>Tab Demo</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="http:////cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/static/jquery-ui.min.css">
    <script src="/static/jquery-ui.min.js"></script>
    <script src="/static/d3.min.js"></script>

    <script>
        //navTree is a convenient recursive definition
        // of nav-bar tabs' inheritance
        var navTree = {
            "tab-1": {
                "tab-1-1": {
                    "tab-1-1-1": undefined
                },
                "tab-1-2": {
                    "tab-1-2-1": undefined
                },
                "tab-1-3": {
                    "tab-1-3-1": undefined,
                    "tab-1-3-2": undefined
                }
            },
            "tab-2": {
                "tab-2-1": {
                    "tab-2-1-1": undefined,
                    "tab-2-1-2": undefined
                },
                "tab-2-2": {
                    "tab-2-2-1": undefined
                }
            }
        };

        navDict = {};
        //convert the easy-writing recursive navTree
        // to algorithm-friendly navDict
        // including parents and their children lists
        (function(navTree, navDict) {
            function navTreeToDict(node, keyname) {
                for (var key in node) {
                    navDict[keyname].push(key);
                    navDict[key] = [];
                    navTreeToDict(node[key], key);
                }
            }

            for (var key in navTree) {
                navDict[key] = [];
                navTreeToDict(navTree[key], key);
            }
            for (var key in navDict) {
                if (navDict[key].length == 0) delete navDict[key];
            }
        })(navTree, navDict);

        //console.log(navDict);

        function insNav2(tab_id) {
            $("#nav-3").empty();
            $("#nav-2").empty();
            for (i in navDict[tab_id]) {
                var next_tab_id = navDict[tab_id][i];
                var next_tab = $("<li><a href='#' onclick='insNav3(\""+next_tab_id+"\")'>"+next_tab_id+"</a></li>");
                $("#nav-2").append(next_tab);
            }
        }

        function insNav3(tab_id) {
            $("#nav-3").empty();
            for (i in navDict[tab_id]) {
                var next_tab_id = navDict[tab_id][i];
                var next_tab = $("<button class=\"btn btn-default\" onclick='insChart(\""+next_tab_id+"\")'>"+next_tab_id+"</button>");
                $("#nav-3").append(next_tab);
            }
        }

    </script>
</head>
<body>

<div class="container">
    <div class="row"><div class="col-xs-12">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="nav-1">
                        <li>
                            <a class="btn btn-default" href="#" onmouseover='insNav2("tab-1")'>tab-1</a>
                        </li>
                        <li>
                            <a class="btn btn-default" href="#" onmouseover='insNav2("tab-2")'>tab-2</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div></div>

    <div class="row"><div class="col-xs-12">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="nav-2">
                    </ul>
                </div>
            </div>
        </nav>
    </div></div>


    <div class="row">
        <div class="col-xs-3">
            <div class="container-fluid">
                <div class="btn-group-vertical" id="nav-3"></div>
            </div>
        </div>

        <div class="col-xs-9">
            <div id="d3chart">

            </div>
        </div>
    </div>

</body>


<script>
    var margin = {top: 20, right: 100, bottom: 20, left: 0},
            bar_width = 600 - margin.left - margin.right,
            bar_height = 350;// - margin.top - margin.bottom;


    var n = 3, // number of layers
            m = 24, // number of samples per layer
            yStackMax,
            yGroupMax,
            stack,
            layers,
            num = 4;

    //place holders of Chart
    stack = d3.layout.stack();
    var color = d3.scale.linear()
            .domain([0, n - 1])
            .range(["#98abc5", "#d0743c", "#ff8c00"]);
    var svg = d3.select("#d3chart").append("svg")
            .attr("width", bar_width + 500)
            .attr("height", bar_height + margin.top + margin.bottom)
            .append("g")
            .attr("id","haha")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    function redrawChart(root) {
        layers = stack(d3.range(n).map(function(idx) { return dataAdapter(idx, m, .1); }));
        yGroupMax = d3.max(layers, function(layer) { return d3.max(layer, function(d) { return d.y; }); });

        var x = d3.scale.ordinal()
                .domain(d3.range(m))
                .rangeRoundBands([0, bar_width], .08);

        var y = d3.scale.linear()
                .domain([0, yStackMax])
                .range([bar_height, 0]);

        d3.select("svg").selectAll("g")
                .data([])
                .exit()
                .remove();

        var svg = d3.select("svg");

        var xAxis = d3.svg.axis()
                .scale(x)
                .tickSize(0)
                .tickPadding(6)
                .orient("bottom");

        var layer = svg.selectAll(".layer")
                .data(layers)
                .enter().append("g")
                .attr("class", "layer")
                .style("fill", function(d, i) { return color(i); });

        var rect = layer.selectAll("rect")
                .data(function(d) { return d; })
                .enter().append("rect")
                .attr("x", function(d) { return x(d.x); })
                .attr("y", bar_height)
                .attr("width", x.rangeBand())
                .attr("height", 0);

        svg.append("g")
                .attr("class", "x axis")
                .attr("transform", "translate(0," + bar_height + ")")
                .call(xAxis);

        function transitionGrouped() {
            y.domain([0, yGroupMax]);

            rect.transition()
                    .duration(500)
                    .delay(function(d, i) { return i * 10; })
                    .attr("x", function(d, i, j) { return x(d.x) + x.rangeBand() / n * j; })
                    .attr("width", x.rangeBand() / n)
                    .transition()
                    .attr("y", function(d) { return y(d.y); })
                    .attr("height", function(d) { return bar_height - y(d.y); });
        }

        function dataAdapter(idx, n, o) {
            var a = [], i;
            for (i = 0; i < n; ++i) a[i] = i;
            if (idx==0) {
                return a.map(function(d, i) { return {x: i, y: root[i][0]}; });}
            else if (idx==1){return a.map(function(d, i) { return {x: i, y: root[i][1]}; });}
            else {return a.map(function(d, i) { return {x: i, y: root[i][2]}; });}
        }

        transitionGrouped();
    }

    function insChart(tab_id) {
        //update supporting data of Grouped Bar Charts
        // using jQuery's AJAX func
        $.get('/get_chart_data/',
                {'tab_id': tab_id},
                function(data) {
                    redrawChart(data['cdata']);
                });
    }
</script>

</html>