*.plist
*.pbxproj
*.xcworkspacedata
*.xccheckout
*.xcuserstate
*.xcbkptlist
*.xcscheme
.DS_Store

Leetcode-Python/.idea/misc.xml

Leetcode-Python/.idea/encodings.xml

Leetcode-Python/.idea/modules.xml

Leetcode-Python/.idea/Leetcode-Python.iml

Leetcode-Python/.idea/scopes/scope_settings.xml

Leetcode-Python/.idea/vcs.xml

Leetcode-Python/.idea/workspace.xml
