*.plist
*.pbxproj
*.xcworkspacedata
*.xccheckout
*.xcuserstate
*.xcbkptlist
*.xcscheme
.DS_Store

Leetcode-Python/.idea/misc.xml

Leetcode-Python/.idea/encodings.xml

Leetcode-Python/.idea/modules.xml

Leetcode-Python/.idea/Leetcode-Python.iml

Leetcode-Python/.idea/scopes/scope_settings.xml

Leetcode-Python/.idea/vcs.xml

Leetcode-Python/.idea/workspace.xml

FrontEnd_Ex/js_ex_01/db.sqlite3

FrontEnd_Ex/js_ex_01/js_ex_01/weibo.json

FrontEnd_Ex/js_ex_01/.idea/modules.xml

FrontEnd_Ex/js_ex_01/.idea/.name

FrontEnd_Ex/js_ex_01/.idea/js_ex_01.iml

FrontEnd_Ex/js_ex_01/.idea/encodings.xml

FrontEnd_Ex/js_ex_01/.idea/misc.xml

FrontEnd_Ex/js_ex_01/.idea/scopes/scope_settings.xml

FrontEnd_Ex/js_ex_01/.idea/vcs.xml

FrontEnd_Ex/js_ex_01/.idea/workspace.xml

FrontEnd_Ex/js_ex_01/db.sqlite3
